*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    max-width: 100%;
}

body{
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
}

.pokedex__header{
    background: rgb(23, 32, 48);
    min-height: 200px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.pokedex__header-title{
    color: rgb(127, 138, 163);
    margin:0 25px 0 10px ;
    text-align: left ;
}

.pokedex__header-title::before {
    content: "Generation: ";
}

.pokedex__header-title span {
    font-weight: bold;
}

.pokedex__header-search{
    margin: auto;
}

.pokedex__header-search form{
    border-color: blue;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.pokedex__header-search input{
    height: 30px;
    width: 100%;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.pokedex__header-search form button{
    width: 80px;
    height: 80px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.pokedex__header-aline{
    display: flex;  
    width: 150px;
}

.order{
    margin: auto;
    padding: 5px;
    color: #fff;
}


/* Cartas de los Pokémon */

.pokedex__pokemon-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10%;
}

.pokemon{
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: auto;
}

.pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hidden{
    display: none;
}